@font-face {
   font-family: 'lato-semibold-webfont';
   src: url('lato-semibold-webfont/font.ttf');
}
@font-face {
   font-family: 'lato-medium-webfont';
   src: url('lato-medium-webfont/font.ttf');
}
