{% load static wagtailcore_tags %}

<section class="cid-qMoDIit8pu mbr-reveal" id="footer1-g">

  <div class="container">
    <div class="media-container-row content text-white">
      <div class="col-12 col-md-4">
        <div class="media-wrap">
          <a href="{% slugurl 'home' %}">
            <img src="{% static 'assets/images/sd-white.svg' %}" class="footerLogo" alt="Shortcut Digital Logo" title="">
          </a>
        </div>
      </div>
      <div class="col-12 col-md-4 mbr-fonts-style display-7">
        <h5 class="pb-3">
          Address
        </h5>
        <p class="mbr-text">1600 Wilson Blvd<br>STE 350<br>Arlington, VA 22209</p>
      </div>
      <div class="col-12 col-md-4 mbr-fonts-style display-7">
        <h5 class="pb-3">
          Contacts
        </h5>
        <p class="mbr-text">
          Email: admin@shortcutdigital.com<br>Phone: +1 (571) 970 5031</p>
        </div>
      </div>

      <div class="footer-lower">
        <div class="media-container-row">
          <div class="col-sm-12">
            <hr>
          </div>
        </div>
        <div class="media-container-row mbr-white">
          <div class="col-sm-6 copyright">
            <p class="mbr-text mbr-fonts-style display-7">
              © Copyright 2017 Shortcut Digital - All Rights Reserved
            </p>
          </div>
          <div class="col-md-6">
            <div class="social-list align-right">
              <div class="soc-item">
                <a href="https://twitter.com/mobirise" target="_blank">
                  <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                </a>
              </div>
              <div class="soc-item">
                <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                  <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
