{% load static wagtailcore_tags navigation_tags %}
<section class="menu cid-qMoDIht8Rm" once="menu" id="menu1-e">
  <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </button>
    <div class="menu-logo">
      <div class="navbar-brand">
        <span class="navbar-logo">
          <a href="{% slugurl 'home' %}">
            <img src="{% static 'assets/images/sd-white.svg' %}" alt="Shortcut Digital Logo white" title="" style="height: 3.8rem;">
          </a>
        </span>

      </div>
    </div>
    {% block main_navigation %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
        {% get_site_root as site_root %}
        {% menu parent=site_root calling_page=self %}
      </ul>

      <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-primary display-4" href="https://mobirise.com">
        Start a Project</a></div>
      </div>
        {% endblock %}
      </nav>
    </section>
