{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<section class="mbr-section form1 cid-qNyiKhSO16" >
  <div class="container">
    <div class="row justify-content-center">
      <div class="title col-12 col-lg-8">
        <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">
          Success
        </h2>
        <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5">
          We will be in touch with you in the next 24 hours!
        </h3>
      </div>
    </div>
  </div>
</section>

{% endblock %}
